bibliotheque_cours
debug
.vs
release
.qmake.stash
*.qrc
*.user
*.sln
*.pro
*.vcxproj
*.filters
*.ui
.vscode
googletest
include
x64
NativeRecommendedRules_sansEnumClass.ruleset
TestCalc.cpp
CMakeLists.txt